@import 'libs/normalize.scss';
@import 'libs/utilis.scss';

#app {
  // font-family: Avenir, Helvetica, Arial, sans-serif;
  font-family: 'Playfair Display';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}